html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  color: white;
}

.myname {
    display: flex;
    width: 100%;
}

.col1 {
    margin-right: 2px;
}

.col2 {
    margin-left: 2px;
}

.format-white {
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
  width: 15px;
  height: 15px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(225deg) brightness(104%) contrast(103%);
}

.format-icon {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(225deg) brightness(104%) contrast(103%);
}

.form-control {
  padding-top: 5px;
  width: 100%;
}

.form-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: monospace;
}

span {
  vertical-align: middle;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 1px;
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 2;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 2;
  border-top-right-radius: 2;
}

a:link {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: white;
  background-color: blueviolet;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}